<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知乎 - 与世界分享你的知识、经验和见解</title>
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <style type="text/css">
    .email-title {
        color: #444;
        line-height: 1.5;
        font-weight: 800;
    }
    
    .email-des {
        color: #444;
        line-height: 1.5;
        text-indent: 2em;
        word-spacing: 50px;
    }
    .media-custom{
        padding-right: 40px;
    }
    .list-group li{
        border: 0px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    <div class="navbar-header" style="">
                        <a class="navbar-brand" href="#" id="brand">
                            <img src="/images/brand.png">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1" id="category-list">
                    <ul class="list-inline">
                        <li><a href="#" class="">首页</a></li>
                        <li><a href="#" class="">话题</a></li>
                        <li><a href="#" class="">发现</a></li>
                    </ul>
                </div>
                <div class="col-md-1 col-md-offset-2" style="padding-top: 8px;">
                    <button class="btn btn-info btn-question">提问</button>
                </div>
                <div class="col-md-2" id="user-info">
                    <ul class="list-inline">
                        <li>
                            <span class="glyphicon glyphicon-user white"></span>
                            <a href="#">注册知乎</a>
                        </li>
                        <li><a href="#">登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" >
                <div class="media">
                    <div class="media-left media-middle media-custom">
                        <img src="/images/success.png">
                    </div>
                    <div class="media-body">
                        <ul class="list-group">
                            <li class="media-heading list-group-item email-title">
                                注册成功，欢迎您加入码知乎！
                            </li>
                            <li class=" list-group-item email-des">
                                您的注册激活邮件已经成功发送至邮箱<kbd><%= email %></kbd>,请您立即登录邮箱激活帐号，激活后可以使用知乎的全部功能。
                            </li>
                            <li class=" list-group-item">
                                <a href="/" class="btn btn-info btn-sm">返回首页</a>
                            </li>
                        </ul>
                        <!--  <span class="media-heading lead email-title">
                                注册成功，欢迎您加入码农网！
                            </span>
                        <div class="email-des">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</html>
