<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知乎 - 与世界分享你的知识、经验和见解</title>
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='/lib/quill/quill-1.13.snow.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/explore.css">
</head>

<body>
    <%include templates/nav.html%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel panel-default panel-custom">
                                <div class="panel-heading panel-heading-custom">
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span>编辑推荐</span>
                                    <a href="#" class="pull-right">更多推荐&gt;&gt;</a>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group recommend">
                                        <% recommend.forEach(function( question,index ){ %>
                                            <%if(index==0){%>
                                                <li class="list-group-item" data-id="<%=question._id%>">
                                                    <div class="media">
                                                        <a class="media-left media-top" href="#">
                                                        <img src="/images/avatar/<%=question.author.avatar%>" 
                                                        alt="#" width="38px" height="38px">
                                                    </a>
                                                        <div class="media-body">
                                                            <a href="/question/<%=question._id%>" class="media-heading">
                                                                <%=question.title%>
                                                            </a>
                                                            <p>
                                                                <small>
                                                            <strong>
                                                                <%=question.author.nickname%>,
                                                            </strong>
                                                             <%=question.author.signature%>,
                                                            </small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <%}else{%>
                                                    <li class="list-group-item">
                                                        <a href="/question/<%question._id%>">
                                                            <%=question.title%>
                                                        </a>
                                                    </li>
                                                    <%}%>
                                                        <% }); %>
                                    </ul>
                                </div>
                            </div>
                            <div class="content-tabs overflow">
                                <ul class="nav nav-tabs" role="tablist" id="myTab">
                                    <li role="presentation" class="active"><a href="#today-hot" data-option="today-hot">热门问题</a></li>
                                    <li role="presentation"><a href="#month-hot" data-option="month-hot">热门答案</a></li>
                                </ul>
                            </div>
                            <div class="today-hot overflow" id="today-hot">
                                <ul class="list-group">
                         
                                </ul>
                            </div>
                            <div class="today-hot overflow hidden" id="month-hot">
                                <ul class="list-group">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 remove-padding">
                            <div class="hot-topic overflow">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span>热门话题</span>
                                        <span class="pull-right">
                                        <a href="#">
                                        <small>更多话题»</small></a>
                                    </span>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <a href="#" class="media-left media-top">
                                                        <img src="/images/v2-311b0b730fa22baf922503c479120450_m.jpg" alt="" width="40px" height="40px;" class="img-rounded">
                                                    </a>
                                                    <div class="media-body">
                                                        <a class="media-heading" href="#">即使独自生活</a>
                                                        <br>
                                                        <span>19486 人关注</span>
                                                        <span class="zg-bull">•</span>
                                                        <span>13 个问题</span>
                                                    </div>
                                                </div>
                                                <li class="list-group-item">
                                                    <div class="media">
                                                        <a href="#" class="media-left media-top">
                                                            <img src="/images/v2-c7315ff66734d12775907ff47902ff58_m.jpg" alt="" width="40px" height="40px;" class="img-rounded">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="media-heading" href="#">玩转无人机</a>
                                                            <br>
                                                            <span>4757 人关注</span>
                                                            <span class="zg-bull">•</span>
                                                            <span>23 个问题</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <div class="media">
                                                        <a href="#" class="media-left media-top">
                                                            <img src="/images/v2-311b0b730fa22baf922503c479120450_m.jpg" alt="" width="40px" height="40px;" class="img-rounded">
                                                        </a>
                                                        <div class="media-body">
                                                            <a class="media-heading" href="#">读个商学院</a>
                                                            <br>
                                                            <span>16686 人关注</span>
                                                            <span class="zg-bull">•</span>
                                                            <span>37 个问题</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="hot-user remove-padding">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span>热门人物</span>
                                        <span class="pull-right">
                                        <a href="#">
                                        <small>更多人物»</small></a>
                                    </span>
                                    </div>
                                    <div class="panel-body remove-padding">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <a href="#" class="media-left media-top">
                                                        <img src="/images/08db7852bf563bbd2be74be1e862a849_m.jpg" width="50px" height="50px">
                                                    </a>
                                                    <div class="media-body">
                                                        <p> <a href="#" class="media-heading">winter</a>
                                                            <button class="btn btn-primary btn-xs pull-right">关注</button>
                                                        </p>
                                                        <p class="motto">专门黑知乎管理员，点赞评论手要快，因为很快被删被</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <a href="#" class="media-left media-top">
                                                        <img src="/images/7be980a0f_m.jpg" width="50px" height="50px">
                                                    </a>
                                                    <div class="media-body">
                                                        <p> <a href="#" class="media-heading">尤雨溪</a>
                                                            <button class="btn btn-primary btn-xs pull-right">关注</button>
                                                        </p>
                                                        <p class="motto">不会搞艺术的程序员不是好设计师</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <a href="#" class="media-left media-top">
                                                        <img src="/images/620193d7f_m.jpg" width="50px" height="50px">
                                                    </a>
                                                    <div class="media-body">
                                                        <p> <a href="#" class="media-heading">玉伯</a>
                                                            <button class="btn btn-primary btn-xs pull-right">关注</button>
                                                        </p>
                                                        <p class="motto">因上努力，果上随缘。</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <a href="#" class="media-left media-top">
                                                        <img src="/images/33dcd7dd3e63f62f8575b5e5f77e1201_m.png" width="50px" height="50px">
                                                    </a>
                                                    <div class="media-body">
                                                        <p> <a href="#" class="media-heading">萧井陌</a>
                                                            <button class="btn btn-primary btn-xs pull-right">关注</button>
                                                        </p>
                                                        <p class="motto">微信公众号：炼瓜研究所 技术社区 http://cocode.cc</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src='/lib/quill/quill.min.js'></script>
<script type="text/javascript" src='/lib/handlebars/handlebars.min.js'></script>
<script type="text/javascript" src="/javascripts/signin.js"></script>
<script type="text/javascript" src="/javascripts/signup.js"></script>
<script type="text/javascript" src="/javascripts/nav.js"></script>
<script id="hot-template" type="text/x-handlebars-template">
    {{#each this}}
    <li class="list-group-item">
        <div class="media">
            <div class="row">
                <div class="col-md-1">
                    <a class="media-left media-top" href="#">
                        <div class="btn-group btn-group-custom">
                            <button type="button" class="btn btn-info btn-block btn-xs">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </button>
                            <button type="button" class="btn btn-info btn-block btn-xs">{{answer_vote_up}}</button>
                            <button type="button" class="btn btn-info btn-block">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                    </a>
                </div>
                <div class="col-md-10">
                    <div class="media-body">
                        <a href="#" class="media-heading">{{question_title}}</a>
                        <p><small><strong>{{author_name}},</strong>{{author_signature}}</small></p>
                        <p>{{{answer_content}}}</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</script>
<script type="text/javascript">
var hot_template_html = $("#hot-template").html();
var hot_template = Handlebars.compile(hot_template_html);
$(document).ready(function() {
    $('#myTab a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
        if ($(this).attr('data-option') == "month-hot") {
            $("#month-hot").removeClass('hidden');
            $("#today-hot").addClass('hidden');
        } else {
            $("#today-hot").removeClass('hidden');
            $("#month-hot").addClass('hidden');
        }
    });

    var question_id = $(".recommend li").first().attr('data-id');
    getQuestionTopAnswer(question_id);
    getHotQuestion();
    getHotAnswer();
});

function getHotQuestion() {

    $.ajax({
        url: '/getHotQuestion',
        type: 'POST',
        dataType: 'json',
        data: {
            skip: 0
        },
        success: function(results) {
            console.log(results);
            $("#today-hot ul").append(hot_template(results));
        },
        error: (function() {
            console.log('error');
        })
    });

}

function getHotAnswer() {
    $.ajax({
        url: '/getHotAnswer',
        type: 'POST',
        dataType: 'json',
        data: {
            skip: 0
        },
        success: function(results) {
            $("#month-hot ul").append(hot_template(results));
        },
        error: (function() {
            console.log('error');
        })
    });
}

function getQuestionTopAnswer(question_id) {
    $.ajax({
        url: '/question/topAnswer',
        type: 'POST',
        dataType: 'json',
        data: {
            question_id: question_id
        },
        success: function(answer) {
            if (answer) {
                $(".recommend li").first().find('.media-body').append(answer.content);
            }
        },
        error: (function() {
            console.log('error');
        })
    });
}
</script>

</html>
