<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知乎 - 与世界分享你的知识、经验和见解</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>

<body>
    <div class="container">
        <div class="index-main-body col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <div class="index-header">
                <h1 class="logo hide-text">知乎</h1>
                <h2 class="subtitle">与世界分享你的知识、经验和见解</h2>
            </div>
            <div class="index-signin-signup">
                <div class="index-tab-navs">
                    <div class="navs-slider">
                        <a href="javascript:;" class="active" data-option="signup">注册</a>
                        <a href="javascript:;" data-option="signin">登录</a>
                    </div>
                </div>
                <div class="index-view-signup show">
                    <% include templates/signup.html%>
                </div>
                <div class="index-view-signin hide">
                    <% include templates/signin.html%>
                </div>
            </div>
        </div>
    </div>
    <div id="particles"></div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/particleground/jquery.particleground.min.js"></script>
<script type="text/javascript" src="/javascripts/signin.js"></script>
<script type="text/javascript" src="/javascripts/signup.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    $('#particles').particleground({
        dotColor: '#EAECED',
        lineColor: '#F0F3F5'
    });

    $(".navs-slider a").bind("click", function() {
        var target = $(this).attr("data-option");
        $(this).siblings("a").removeClass('active'); //遍历同胞元素
        $(this).addClass('active');
        if (target == "signup") {
            $(".index-view-signup").removeClass('hide');
            $(".index-view-signup").addClass('show');
            $(".index-view-signin").removeClass('show');
            $(".index-view-signin").addClass('hide');

        } else {
            $(".index-view-signup").removeClass('show');
            $(".index-view-signup").addClass('hide');
            $(".index-view-signin").removeClass('hide');
            $(".index-view-signin").addClass('show');
        }

    })




});
</script>

</html>
