<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>知乎 - 与世界分享你的知识、经验和见解</title>
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='/lib/quill/quill-1.13.snow.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/question.css">
    <style type="text/css">

    </style>
</head>

<body>
    <%include templates/nav.html%>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-1 ">
                    <ul class="list-group question-title" id="question-title">
                        <li class="list-group-item">
                            <div class="btn-group" id="question-topic">
                                <a href="#" class="btn btn-default btn-sm" data-option="1" data-trigger="hover" id="example-popover-1-content">创业公司</a>
                                <a href="#" class="btn btn-default btn-sm" data-option="2" data-trigger="hover" id="example-popover-2-content">企业文化</a>
                                <a href="#" class="btn btn-default btn-sm" data-option="3" data-trigger="hover" id="example-popover-3-content">创业公司文化</a>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <a href="/question/<%=question._id%>" data-option="<%=question._id%>" class='question-title-detail'>
                                <span class="title-detail"><%=question.title%></span>
                            </a>
                            <br>
                            <span class="question-content"><small><%-question.content%></small>
                            </span>
                        </li>
                        <li class="list-group-item">
                            <span class="answer-count"><%=question.answer_count%>个回答</span>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" style="padding: 0px 5px;" data-toggle="dropdown">
                                    默认排序<span class="glyphicon glyphicon-sort"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">按时间排序</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="user-answer">
                        <ul class="list-group">
                            <% answers.forEach(function( answer,index ){ %>
                                <li class="list-group-item remove-padding">
                                    <div class="row">
                                        <div class="col-md-1 answer-vote">
                                            <div class="btn-group">
                                                <button class="btn btn-default btn-block">
                                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                                </button>
                                                <button class="btn btn-default btn-block">
                                                    <%=answer.vote_up_count%>
                                                </button>
                                                <button class="btn btn-default btn-block">
                                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-10 answer-content">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <strong><%=answer.author.nickname%></strong>,<span><%=answer.author.signature%></span>
                                                    <div class="pull-right">
                                                        <img src="/images/avatar/<%=answer.author.avatar%>" width=25px height=25px>
                                                    </div>
                                                </div>
                                                <div class="panel-body">
                                                    <%-answer.content%>
                                                </div>
                                                <div class="panel-footer">
                                                    <a href="#">发布于 2011-04-12</a>
                                                    <a href="#">
                                                        <span class="glyphicon glyphicon-comment"></span>6 条评论
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <% }); %>
                        </ul>
                    </div>
                    <div class="answer-question" disabled="true">
                        <div id="editor-container-question" class="editor-container">
                        </div>
                    </div>
                    <div class="submit-answer">
                        <button class="btn btn-primary btn-sm pull-right submit-answer-button" type="button">
                            发布回答
                        </button>
                    </div>
                </div>
                <div class="col-md-3 remove-padding">
                    <ul class="list-group question-relation">
                        <li class="list-group-item">
                            <button class="btn btn-info">关注问题</button>
                        </li>
                        <li class="list-group-item">
                            125人关注
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="">
                                <img src="/images/990916aeac758985365defda43a36411_s.jpg" alt="..." class="img-rounded">
                            </a>
                            <a href="#">
                                <img src="/images/88bb6c872f4f268243e35e7a55f27121_s.jpg" alt="..." class="img-rounded">
                            </a>
                            <a href="#"><img src="/images/eb2e951c2_s.jpg" alt="..." class="img-rounded"></a>
                            <a href="#"><img src="/images/e03a63601_s.jpg" alt="..." class="img-rounded"></a>
                            <a href="#"><img src="/images/d8ab48ad20220e3bb2c289f05cb21cd2_s.jpg" alt="..." class="img-rounded"></a>
                            <a href="#">
                                <img src="/images/969c958b5_s.jpg" alt="..." class="img-rounded"></a>
                            <a href="#">
                                <img src="/images/f1c8f8bd9dade12086914c1224f4935b_s.jpg" alt="..." class="img-rounded">
                            </a>
                            <a href="#">
                                <img src="/images/fd5af76d2716c90d8024e5f68b674cf5_s.jpg" alt="..." class="img-rounded">
                            </a>
                            <a href="#">
                                <img src="/images/v2-b8a36469b785ea53b494fb510e31be53_s.jpg" alt="..." class="img-rounded">
                            </a>
                        </li>
                        <li class="list-group-item">
                            相关问题
                        </li>
                        <li class="list-group-item">
                            <a href="">人们对公务员的工作有哪些误解？</a> 160 个回答
                        </li>
                        <li class="list-group-item">
                            <a href=""> 你熟知的领域，外行有哪些误解？</a> 3952 个回答
                        </li>
                        <li class="list-group-item">
                            <a href="">我国国有企业的意义何在？</a> 777 个回答
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="example-popover-1-content" class="hidden">
            <div>
                <b>正在开发中 #1</b> - content
            </div>
        </div>
        <div id="example-popover-1-title" class="hidden">
            <b>Example popover #1</b> - title
        </div>
        <div id="example-popover-2-content" class="hidden">
            <div>
                <b>正在开发中 #2</b> - content
            </div>
        </div>
        <div id="example-popover-2-title" class="hidden">
            <b>Example popover #2</b> - title
        </div>
        <div id="example-popover-3-content" class="hidden">
            <div>
                <b>正在开发中 #3</b> - content
            </div>
        </div>
        <div id="example-popover-3-title" class="hidden">
            <b>Example popover #3</b> - title
        </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src='/lib/quill/quill.min.js'></script>
<script type="text/javascript" src='/lib/handlebars/handlebars.min.js'></script>
<script type="text/javascript" src="/javascripts/signin.js"></script>
<script type="text/javascript" src="/javascripts/signup.js"></script>
<script type="text/javascript" src="/javascripts/nav.js"></script>
<script type="text/javascript">
$(document).ready(function() {

    var placeholder;



    (function() {

        if (<%=!login%>) {
            placeholder = '请先登录在回答问题';

        } else {
            placeholder = '请详细描述你的回答';

        }

    })();


    $.each($("#question-topic").children("a"), function(index, element) {
        var _id = $(element).attr("id");
        console.log(_id);
        $(element).popover({
            html: true,
            placement: "bottom",
            content: function() {
                return $("#" + _id).html();
            },
            title: function() {
                return _id;
            }
        });
    });

    $(".submit-answer-button").bind('click', function() {
        if (<%=!login%>) {
            $('#register-modal').modal('hide');
            $('#login-modal').modal('show');

        } else {
            var question_id = $(".question-title-detail").attr('data-option');
            var answer_content = $('#editor-container-question').children('.ql-editor').html();
            console.log(question_id,answer_content)
            $.ajax({
                url: '/submitAnswer',
                type: 'POST',
                dataType:'json',
                data: {
                    question_id: question_id,
                    answer_content: answer_content
                },
                success: function(result) {
                    if (result.code==10000) {
                        window.location.reload();
                    }
                },
                error: function() {

                }
            });
        }

    })





    var quill = new Quill('#editor-container-question', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link', 'blockquote', 'code-block', 'image'],
                [{
                    list: 'ordered'
                }, {
                    list: 'bullet'
                }]
            ]
        },
        placeholder: placeholder,
        theme: 'snow',
        readOnly: <%=!login%>,
        imageHandler: function(image, callback) {

            var data = new FormData();
            data.append('image', image);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', "/uploadFile", true);

            xhr.onload = function(oEvent) {
                if (xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    console.log("return response:" + response);
                    callback(response.link);
                } else {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        callback(e.target.result);
                    };
                    reader.readAsDataURL(image);

                }
            };
            xhr.send(data);

        }
    });
    console.log(quill)
});
</script>

</html>
