<link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
<form role="form" class="signup-form" action="/signup" method="post">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="姓名" name="username">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="邮箱" name="email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="密码" name="password">
    </div>
    <div class="button-wrapper">
        <button class="signup-button submit-btn btn btn-default btn-block" type="submit">注册知乎</button>
    </div>
</form>

